{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": [
    "redux-saga",
    "react",
    "promise",
    "jsx-a11y",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "legacyDecorators": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // base
    "no-param-reassign": "off",
    "dot-notation": "off",
    "indent": ["warn", "tab", {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "no-tabs": "off",
    "template-curly-spacing" : "off",
    "semi": "warn",
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "consistent-return": "off",
    "no-trailing-spaces": "off",
    "camelcase": "off",
    "radix": "off",
    "no-unused-vars": "warn",
    "max-len": ["error", {"code": 120, "ignoreUrls": true}],
    "object-curly-newline": "off",
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",

    // import
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": "off",
    "import/no-cycle": "off",

    // react
    "react/sort-comp": "off",
    "react/static-property-placement": "warn",
    "react/require-default-props": "off",
    "react/prop-types": "warn",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-indent": ["warn", "tab"],
    "react/forbid-prop-types": 0,
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-one-expression-per-line": 0,

    // redux-saga
    "redux-saga/no-yield-in-race": 2,
    "redux-saga/yield-effects": 2,
    "require-yield": 0,

    // react hooks
    "react-hooks/rules-of-hooks": "error"
  }
}
