.sidebar-nav {
  display: block;
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &__collapsed {
    & .sidebar-menu_link {
      svg {
        left: calc(100% - 39px);
        font-size: 1.8rem;
      }
    }
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__bottom {
    position: fixed;
    bottom: 0;
  }

  &_link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 3.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    transition: color .2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & > svg {
      position: absolute;
      left: 24px;
      display: block;
      transition: left .2s ease-in-out, font-size .2s ease-in-out;
      fill: #9FA2B4;
      font-size: 1rem;
    }

    &:hover {
      color: #15CD72;
      text-decoration: none;

      svg {
        fill: #15CD72;
      }
    }

    &__active {
      color: #15CD72;
      background-color: rgba(159, 162, 180, .08);

      svg {
        fill: #15CD72;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #DDE2FF;
      }
    }
  }
}
