.sidebar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  &_btn {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    background: #F7F8FC;
    border-radius: 4px;
    height: 35px;
    box-shadow: 1px 1px 4px rgba(37, 39, 51, 0.04);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #363740;
  }
}
