.transaction-labels {
  display: flex;
  align-items: center;

  label {
    font-family: Lato, sans-serif;
    display: inline-block;
    background-color: transparent;
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 3px;
    margin: 0 15px;
  }

  input[type='radio'] {
    display: none;

    &:checked {
      & + label {
        color: #fff;

        &.positive {
          background-color: #1ab394;
        }

        &.negative {
          background-color: #e05555;
        }
      }
    }
  }
}

.transaction-body {
  padding: 1rem;
}

.transaction-group {
  display: flex;
  font-family: Lato, sans-serif;
  width: 100%;
  margin-bottom: 1rem;

  & .form-group {
    margin-bottom: 0;
  }

  label {
    height: 100%;
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.44px;
    display: block;
    width: 35%;
  }

  &_input {
    height: 100%;
    flex: 1;
  }
}
